@import 'https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css';
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;1,300;1,400&display=swap');

/* html * {
  font-family: 'Ubuntu', sans-serif !important;
} */

body {
  background-color: #060818;
  margin: 0;
}

.block:not(:last-child) {
  margin-bottom: 1rem;
}

.box {
  background-color: #0e1726;
}

.button {
  transition-duration: 0.3s;
  background-color: #0e1726;
  color: white;
}

.button:hover {
  background-color: white;
  color: #0e1726;
}

.white-text {
  color: white;
}

.gray-text {
  color: #6c6f88;
}

.gray-background {
  background-color: #151835;
  color: white;
}

.select {
  background-color: #0e1726;
  color: white;
}